.inside-li {
  width: 100%;
  display: flex;
}
.text-div {
  display: flex;
  width: 70%;
  align-items: center;
}
.delete-button-div {
  width: 30%;
  display: flex;
  justify-content: end;
}
.delete-button {
  background-color: rgb(243, 7, 7);
  border: 1px solid rgb(243, 7, 7);
}
