.products {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
}

.products h3 {
  margin: 0;
  font-weight: bold;
}

.products ul {
  list-style:none;
  padding: 0rem 1rem;
}

.products li {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

